body {
  background-image: url(background-image.jpg);
  background-size: cover;
}
h2 {
  color: rgba(234, 0, 46, 0.5);
  text-align: center;

  cursor: pointer;
}
p {
  color: pink;
  text-align: center;
  line-height: 20px;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  font-family: Georgia;
}
li {
  list-style: none;
  display: inline-block;
}
img {
  float: right;
} /* the clearfix should be used in the elements after the float*/
